.menu-course > ul {
  display: inline-grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
}

.menu-course > ul > li {
  list-style: none;
}

.active-link {
  color: red;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: yellow;
}
