.headercrs {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 2px black);
}

.headercrs > button {
  justify-self: start;
}
