* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  border: 1px solid green;
  padding: 1rem;
  display: grid;
  gap: 12px;
}

.App > h2 {
  text-align: center;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}
