* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  border: 1px solid green;
  padding: 1rem;
  display: grid;
  gap: 12px;
}

.App > h2 {
  text-align: center;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

input,
select {
  padding: 0.3rem;
}

/* General variables */

body[data-theme='dark'] {
  --fnt-color: white;
  --bg-color: darkblue;
  --fnt-color-value: yellow;
}

body[data-theme='light'] {
  --fnt-color: darkblue;
  --bg-color: white;
  --fnt-color-value: blue;
}

body {
  color: var(--fnt-color);
  background-color: var(--bg-color);
}
